# Ambientes
.venv/
venv/

# Caches e ferramentas
.ruff_cache/
.vscode/
/logs

# Compilação e distribuição (PyInstaller)
build/
dist/
*.spec
__pycache__/
*.pyc


# Não utilizados até o momento, retirar quando implementar
db/
config/
